#hero {
      /* background-image: url(../img/wow_logo.jpg); */
      /* background-image: url(../img/party-1644648_1920.jpg); */
      position:relative;
      background-position: center;
      background-repeat: no-repeat;
      background-size:contain;
      min-height: 540px;
      /*display: table;*/
      width: 100%;
      text-align: center;
      background-attachment: fixed;
}

.fadeInUpBig {
  animation-duration: 2s;
}

#banner {
  position: absolute;
  text-align: center;
    height: 100%;
    width: 100%;
}




h1 {
  /* font-family: 'Nunito', sans-serif; */
  font-family: 'Raleway', sans-serif;
  color: black;
  /* text-shadow: 3px 3px white; */
  font-size: 80px;
  text-align: center;
  margin-top: 50px;
}

.icon {
  width:100px;
  margin-bottom: 20px;
}

/* .title {
margin-left: 240px;
margin-top: 10px;
} */

/* .col-lg-4 {
  float:right;
} */

.title {
  margin-bottom: 20px;
  color: #fece00;
}

.services {
  /* padding-top: 60px; */
  text-align: center;
  font-family: 'Raleway', sans-serif;

}

.servicesprovided {
  width: 240px;
  height: 226px;
  float: left;
  padding-right: 20px;
  padding-bottom: 50px;
}

.footer {
  background-color: #0375b4;
  height: 250px;
}

.description {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  line-height: 1.5em;

}

h4 {
  text-align: center;
  color: black;
  padding-top: 15px;
}

h4>a {
  color: black;
}

#calendar {
  text-align: center;
}

#calendar-small {
  display:none;
}

/*about.html*/
.about {
  margin-top: 80px;
  text-align: center;
  background-color: white;
  margin-bottom: 50px;
}

.about-text {
  font-size: 18px;
  padding: 50px;
  background-color: white;
  margin-left: 50px;
  margin-bottom: -10px;
}

.about-bg {
  background: url(../img/rainbow_background-t2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: -60px;


}

/*contact.html*/
.contact {
  margin-top: 80px;
  text-align: center;
}

.touch {
  text-align: center;
  padding-bottom: 40px;
}

#keyboard {
  background: url(../img/keyboard.jpg);
  width: 200px;
  height: 200px;
  margin-top: 20px;

}
#kb {
  text-align: center;
}

input {
  margin-top: 20px;
}

textarea {
  margin-top: 20px;
}


/*clients*/

.item {
  height: 500px;
  margin-top: 80px;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.glyphicon {
  width: 100px;
}

/*testimonial*/
#testify {
  padding-top: 80px;
}


/* photos*/
#photos {
  /* Prevent vertical gaps */
  line-height: 0;

  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px;
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100%;
  height: auto;
}

.top-pics {
  padding-top: 60px;
}

@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }

  .servicesprovided {
    display: none;
  }
  .animated {
  font-size: 36px;
  }

  #hero {
    background-attachment: inherit;
    min-height: 80px;
  }

  .container>.navbar-header {
    margin-right:auto;
  }
  .title {
    margin-left: auto;
  }
  #calendar-small {
    display:block;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  #calendar {
    display: none;
  }
  .about {
    margin-top: 10px;
  }
  .about-bg {
    background: none;
  }
  .about-text {
    padding: 50px 10px;
  }

  .contact {
    font-size: 10px;
  }
  .touch {
    font-size: 10px;
  }

}





.selected img {
	opacity:0.5;
}

.list-inline>li {
  margin-top: 80px;
  width: 80px;
  height:60px;
}

@media only screen and (max-width : 480px) {
#keyboard {
  display: none;
}
}
